<div class="input-group">
  <div class="input-group-addon">
    {{fa-icon "calendar" click=(action "showPicker")}}
  </div>
  <input type="text" class="form-control {{inputClass}}" placeholder="{{placeholder}}">
</div>
